h1{
    font-family: 'Anton', sans-serif;
}

p{
    font-family: 'Dancing Script', cursive;
}

.container{
    background-color: aqua;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fst2.depositphotos.com%2F1757635%2F5948%2Fi%2F450%2Fdepositphotos_59482257-stock-photo-woman-on-beautiful-sunset.jpg&imgrefurl=https%3A%2F%2Fdepositphotos.com%2Fstock-photos%2Finspirational-background.html&tbnid=915bkzJDeTXmuM&vet=12ahUKEwjszruh5bnrAhUC_hoKHdUvB7AQMygfegUIARCfAg..i&docid=v2G9EIre0GxZwM&w=450&h=300&q=inspirational%20quotes%20background%20images&ved=2ahUKEwjszruh5bnrAhUC_hoKHdUvB7AQMygfegUIARCfAg");
}